/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://i.postimg.cc/FR2vpqbG/black-aesthetic-mountains-4k-9k.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}